@using Project_8.Models;
@model List<hancars>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_arac_layout_.cshtml";
}

<table>
    <tr>
        <th>ID</th>
        <th>arac adı</th>
        <th>model</th>
        <th>renk</th>
    </tr>
</table>

