<!DOCTYPE html>
<html lang="en">
<head>
    <title>Carbook - Free Bootstrap 4 Template by Colorlib</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="/Content/Template/css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="/Content/Template/css/animate.css">

    <link rel="stylesheet" href="/Content/Template/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/Content/Template/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/Content/Template/css/magnific-popup.css">

    <link rel="stylesheet" href="/Content/Template/css/aos.css">

    <link rel="stylesheet" href="/Content/Template/css/ionicons.min.css">

    <link rel="stylesheet" href="/Content/Template/css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="/Content/Template/css/jquery.timepicker.css">


    <link rel="stylesheet" href="/Content/Template/css/flaticon.css">
    <link rel="stylesheet" href="/Content/Template/css/icomoon.css">
    <link rel="stylesheet" href="/Content/Template/css/style.css">
</head>



<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Car<span>Book</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li>
                <li class="nav-item"><a href="/Home/Araclar" class="nav-link">Araçlar</a></li>
                <li class="nav-item"><a href="services.html" class="nav-link">Services</a></li>
                <li class="nav-item"><a href="pricing.html" class="nav-link">Pricing</a></li>
                <li class="nav-item"><a href="car.html" class="nav-link">Cars</a></li>
                <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>



<div class="hero-wrap ftco-degree-bg" style="background-image: url('/Content/Template/images/bg_1.jpg');" data-stellar-background-ratio="0.5">
    <div class="overlay"></div>
    <div class="container">
        <div class="row no-gutters slider-text justify-content-start align-items-center justify-content-center">
            <div class="col-lg-8 ftco-animate">
                <div class="text w-100 text-center mb-md-5 pb-md-5">
                    <h1 class="mb-4">Fast &amp; Easy Way To Rent A Car</h1>
                    <p style="font-size: 18px;">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts</p>
                    <a href="https://vimeo.com/45830194" class="icon-wrap popup-vimeo d-flex align-items-center mt-4 justify-content-center">
                        <div class="icon d-flex align-items-center justify-content-center">
                            <span class="ion-ios-play"></span>
                        </div>
                        <div class="heading-title ml-5">
                            <span>Easy steps for renting a car</span>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>





<script src="/Content/Template/js/jquery.min.js"></script>
<script src="/Content/Template/js/jquery-migrate-3.0.1.min.js"></script>
<script src="/Content/Template/js/popper.min.js"></script>
<script src="/Content/Template/js/bootstrap.min.js"></script>
<script src="/Content/Template/js/jquery.easing.1.3.js"></script>
<script src="/Content/Template/js/jquery.waypoints.min.js"></script>
<script src="/Content/Template/js/jquery.stellar.min.js"></script>
<script src="/Content/Template/js/owl.carousel.min.js"></script>
<script src="/Content/Template/js/jquery.magnific-popup.min.js"></script>
<script src="/Content/Template/js/aos.js"></script>
<script src="/Content/Template/js/jquery.animateNumber.min.js"></script>
<script src="/Content/Template/js/bootstrap-datepicker.js"></script>
<script src="/Content/Template/js/jquery.timepicker.min.js"></script>
<script src="/Content/Template/js/scrollax.min.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVWaKrjvy3MaE7SQ74_uJiULgl1JY0H2s&sensor=false"></script>
<script src="/Content/Template/js/google-map.js"></script>
<script src="/Content/Template/js/main.js"></script>

<style>

a{
    color:black;
}


</style>



@RenderBody()
